/* globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: hsl(0, 4%, 10%);
  padding: 0.5rem;
  color: white;
  width: 100%;
  position: sticky; /* Ensures header stays at the top */
  top: 0; /* Sticky positioning at the top */
  z-index: 1000; /* Keeps the header above content */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

/*.logo {
  margin-left: 20px;
  opacity: 1;
  border-radius: 50px;
}*/

.nav-links {
  list-style: none;
  display: flex;
  margin-right: 0px;
  margin-left: 30px;
}

.nav-links li {
  margin-left: 3rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.nav-links a:hover{
  color: yellow;
  text-decoration-line: underline;
  text-underline-offset: 5px;
}

main {
  padding: 0px; 
  max-width: 2200px;
  flex: 1; /* Expands main content to fill available space */
  display: flex;
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
  flex-direction: column; /* Ensure child elements stack vertically */
  text-align: center; /* Center text inside main */
}

footer {
  background-color: hsl(0, 4%, 10%);
  color: white;
  text-align: center;
  padding: 0.5rem 0;
  width: 100%;
}

/* Media Query 
@media (max-width: 768px) {
  .nav-links {
    flex-direction: column;
  }

  .nav-links li {
    margin: 0.5rem 0;
  }
}*/

/* app/globals.css */

.background-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  object-fit: cover; /* Ensures the video covers the viewport without distortion */
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0.5;
}

.content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.2rem;
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
  }
}
